## 2022년 상반기(7~9월) 언론사별 네이버 기사 출고량 비교분석

1) 방송매체: 채널A JTBC TV조선 MBN KBS MBC SBS YTN 연합뉴스TV
2) 텍스트 매체: 동아일보 조선일보 중앙일보 연합뉴스 뉴스1 뉴시스 EPA연합뉴스 이데일리 파이낸셜뉴스 아시아경제 매일경제 머니투데이 한국경제 헤럴드경제 서울경제 노컷뉴스 조선비즈 머니S 세계일보 데일리안 국민일보 서울신문 한국일보 부산일보

In [1]:
###포매팅과 함수 파라미터

def news_crawler(code):

    list = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid={code}&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            list.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            money.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

#동영상 기사, ''제거
for i in list:
    if i[1] == '':
        list.remove(i)
    elif i[1] == '동영상기사':
        list.remove(i)

#데이터프레임으로 정리
df = pd.DataFrame(list, columns = ['month', 'article'])
#월별 분류
df.groupby('month').count()

NameError: name 'daterange' is not defined

In [1]:
#라이브러리

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from datetime import date, timedelta, datetime

#headers
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

In [2]:
#날짜 함수
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)): #해당 기간에 존재할 때 .days로 날짜 계산
        yield start_date + timedelta(n)

#https://wikidocs.net/104836
#https://sdr1982.tistory.com/m/329

start_date = date(2022,10,1)
end_date = date(2022,11,1) #하루 길게 작성 ex. 8월 31일까지 알고 싶으면 2022,9,1로 입력

In [3]:
#기사별 페이지 
def page(url):
    req = requests.get(url, headers = headers)
    html = req.text
    soup = bs(html, 'html.parser')
    search_result = soup.select('.paging')
    pages = []
    for li in search_result:
        pages.append(li.text)
    return int(pages[0].split('\n')[-2])

이미지 기사
#div > div > img
https://charimlab.tistory.com/14

<img id="img1" class="_LAZY_LOADING" src="https://imgnews.pstatic.net/image/449/2022/10/02/0000235114_001_20221002160601750.jpg?type=w647">

soup.select('#img1')

#contents > div._VOD_PLAYER_WRAP
soup.select('#contents > div._VOD_PLAYER_WRAP')

#요약형 기사로 크롤링 필요
1) 방송매체
채널A: 449

JTBC: 437

TV조선: 448

MBN: 057

KBS: 056

MBC: 214

SBS: 055

YTN: 052

연합뉴스TV: 422

In [4]:
#채널A - 449(완)

channel_A = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=449&date={day}'
    for i in range(1, page(url) + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
        for dl in search_headline:
            channel_A.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])
        for dt in search_head:
            channel_A.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

In [5]:
#동영상 기사, ''제거

for i in channel_A:
    if i[1] == '':
        channel_A.remove(i)
    elif i[1] == '동영상기사':
        channel_A.remove(i)

In [6]:
#데이터프레임으로 정리
channelA_df = pd.DataFrame(channel_A, columns = ['month', 'article'])

#월별 분류
channelA_df.groupby('month').count()

#엑셀로 직접 보는 방법: channelA_df.to_excel('8월 보도량.xlsx',encoding='utf-8-sig')

       article
month
10        1952

In [7]:
#JTBC - 437

jtbc = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=437&date={day}'
    for i in range(1, page(url +'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            jtbc.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            jtbc.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in jtbc:
    if i[1] == '':
        jtbc.remove(i)
    elif i[1] == '동영상기사':
        jtbc.remove(i)

In [8]:
#데이터프레임으로 정리
jtbc_df = pd.DataFrame(jtbc, columns = ['month', 'article'])

#월별 분류
jtbc_df.groupby('month').count()

#jtbc_df.to_excel('8월 보도량(jtbc).xlsx',encoding='utf-8-sig')

       article
month
10        3822

In [9]:
#TV 조선 - 448
tv_chosun = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=448&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            tv_chosun.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            tv_chosun.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in tv_chosun:
    if i[1] == '':
        tv_chosun.remove(i)
    elif i[1] == '동영상기사':
        tv_chosun.remove(i)

In [10]:
#데이터프레임으로 정리
tv_chosun_df = pd.DataFrame(tv_chosun, columns = ['month', 'article'])

#월별 분류
tv_chosun_df.groupby('month').count()

#tv_chosun_df.to_excel('8월 보도량2(TV조선).xlsx',encoding='utf-8-sig')

       article
month
10        4272

In [33]:
#MBN - 057

mbn = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=057&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            mbn.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            mbn.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in mbn:
    if i[1] == '':
        mbn.remove(i)
    elif i[1] == '동영상기사':
        mbn.remove(i)

In [35]:
#데이터프레임으로 정리
mbn_df = pd.DataFrame(mbn, columns = ['month', 'article'])

#월별 분류
mbn_df.groupby('month').count()

       article
month
09        6253

In [36]:
#KBS - 056
kbs = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=056&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            kbs.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            kbs.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in kbs:
    if i[1] == '':
        kbs.remove(i)
    elif i[1] == '동영상기사':
        kbs.remove(i)

In [37]:
#데이터프레임으로 정리
kbs_df = pd.DataFrame(kbs, columns = ['month', 'article'])

#월별 분류
kbs_df.groupby('month').count()

       article
month
09       17465

In [38]:
#SBS - 055
sbs = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=055&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            sbs.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            sbs.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in sbs:
    if i[1] == '':
        sbs.remove(i)
    elif i[1] == '동영상기사':
        sbs.remove(i)

In [39]:
#데이터프레임으로 정리
sbs_df = pd.DataFrame(sbs, columns = ['month', 'article'])

#월별 분류
sbs_df.groupby('month').count()

       article
month
09        6525

In [5]:
#YTN - 052
ytn = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=052&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            ytn.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            ytn.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in ytn:
    if i[1] == '':
        ytn.remove(i)
    elif i[1] == '동영상기사':
        ytn.remove(i)

In [6]:
#데이터프레임으로 정리
ytn_df = pd.DataFrame(ytn, columns = ['month', 'article'])

#월별 분류
ytn_df.groupby('month').count()

       article
month
09       11995

In [7]:
#연합뉴스 - 422
yna_tv = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=422&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            yna_tv.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            yna_tv.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in yna_tv:
    if i[1] == '':
        yna_tv.remove(i)
    elif i[1] == '동영상기사':
        yna_tv.remove(i)

In [8]:
#데이터프레임으로 정리
yna_tv_df = pd.DataFrame(yna_tv, columns = ['month', 'article'])

#월별 분류
yna_tv_df.groupby('month').count()

       article
month
09        4610

2) 텍스트 매체 
동아일보: f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=020&listType=title&date={day}'

조선일보: f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=023&listType=title&date={day}'

중앙일보: f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=025&listType=title&date={day}'
연합뉴스 
뉴스1 /
뉴시스 /
EPA연합뉴스/
이데일리 
파이낸셜뉴스 
아시아경제 
매일경제 
머니투데이 
한국경제 
헤럴드경제 
서울경제 
노컷뉴스 
조선비즈 
머니S 
세계일보 
데일리안 
국민일보 
서울신문 
한국일보 
부산일보

In [62]:
#동아일보 - 020
donga = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=020&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            donga.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            donga.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in donga:
    if i[1] == '':
        donga.remove(i)
    elif i[1] == '동영상기사':
        donga.remove(i)

In [63]:
#데이터프레임으로 정리
donga_df = pd.DataFrame(donga, columns = ['month', 'article'])

#월별 분류
donga_df.groupby('month').count()

#news_df.to_csv('6월 보도량.csv',encoding='utf-8-sig')

       article
month
07        5661

In [65]:
#조선일보 - 023
chosun = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=023&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            chosun.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            chosun.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in chosun:
    if i[1] == '':
        chosun.remove(i)
    elif i[1] == '동영상기사':
        chosun.remove(i)

In [66]:
#데이터프레임으로 정리
chosun_df = pd.DataFrame(chosun, columns = ['month', 'article'])

#월별 분류
chosun_df.groupby('month').count()

       article
month
07        6220

In [67]:
#중앙일보 - 025
joongang = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=025&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            joongang.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            joongang.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in joongang:
    if i[1] == '':
        joongang.remove(i)
    elif i[1] == '동영상기사':
        joongang.remove(i)

In [68]:
#데이터프레임으로 정리
joongang_df = pd.DataFrame(joongang, columns = ['month', 'article'])

#월별 분류
joongang_df.groupby('month').count()

       article
month
07        6430

In [69]:
#연합뉴스 - 001
yna = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=001&date={day}'
    for i in range(1, page(url + '&page=161') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            yna.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            yna.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in yna:
    if i[1] == '':
        yna.remove(i)
    elif i[1] == '동영상기사':
        yna.remove(i)

In [70]:
#데이터프레임으로 정리
yna_df = pd.DataFrame(yna, columns = ['month', 'article'])

#월별 분류
yna_df.groupby('month').count()

       article
month
07       64487

In [4]:
#뉴스1 - 421
news1 = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=421&date={day}'
    for i in range(1, page(url + '&page=161') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            news1.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            news1.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in news1:
    if i[1] == '':
        news1.remove(i)
    elif i[1] == '동영상기사':
        news1.remove(i)

In [5]:
#데이터프레임으로 정리
news1_df = pd.DataFrame(news1, columns = ['month', 'article'])

#월별 분류
news1_df.groupby('month').count()

       article
month
07       60985

In [6]:
#뉴시스 - 003
newsis = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=003&date={day}'
    for i in range(1, page(url + '&page=161') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            newsis.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            newsis.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in newsis:
    if i[1] == '':
        newsis.remove(i)
    elif i[1] == '동영상기사':
        newsis.remove(i)

In [7]:
#데이터프레임으로 정리
newsis_df = pd.DataFrame(newsis, columns = ['month', 'article'])

#월별 분류
newsis_df.groupby('month').count()

       article
month
07       58199

In [8]:
#EPA 연합뉴스- 091
epa_yna = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=091&date={day}'
    for i in range(1, page(url + '&page=111') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            epa_yna.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            epa_yna.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in epa_yna:
    if i[1] == '':
        epa_yna.remove(i)
    elif i[1] == '동영상기사':
        epa_yna.remove(i)

In [9]:
#데이터프레임으로 정리
epa_yna_df = pd.DataFrame(epa_yna, columns = ['month', 'article'])

#월별 분류
epa_yna_df.groupby('month').count()

       article
month
07       21126

In [10]:
#이데일리- 018
edaily = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=018&date={day}'
    for i in range(1, page(url + '&page=111') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            edaily.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            edaily.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in edaily:
    if i[1] == '':
        edaily.remove(i)
    elif i[1] == '동영상기사':
        edaily.remove(i)

In [11]:
#데이터프레임으로 정리
edaily_df = pd.DataFrame(edaily, columns = ['month', 'article'])

#월별 분류
edaily_df.groupby('month').count()

       article
month
07       24530

In [12]:
#파이낸셜 뉴스- 014
fnnews = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=014&date={day}'
    for i in range(1, page(url + '&page=111') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            fnnews.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            fnnews.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in fnnews:
    if i[1] == '':
        fnnews.remove(i)
    elif i[1] == '동영상기사':
        fnnews.remove(i)

In [13]:
#데이터프레임으로 정리
fnnews_df = pd.DataFrame(fnnews, columns = ['month', 'article'])

#월별 분류
fnnews_df.groupby('month').count()

       article
month
07       15169

In [14]:
#아시아 경제 - 277
asiae = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=277&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            asiae.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            asiae.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in asiae:
    if i[1] == '':
        asiae.remove(i)
    elif i[1] == '동영상기사':
        asiae.remove(i)

In [15]:
#데이터프레임으로 정리
asiae_df = pd.DataFrame(asiae, columns = ['month', 'article'])

#월별 분류
asiae_df.groupby('month').count()

       article
month
07       14660

In [16]:
#매일 경제 - 009
mk = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=009&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            mk.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            mk.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in mk:
    if i[1] == '':
        mk.remove(i)
    elif i[1] == '동영상기사':
        mk.remove(i)

In [17]:
#데이터프레임으로 정리
mk_df = pd.DataFrame(mk, columns = ['month', 'article'])

#월별 분류
mk_df.groupby('month').count()

       article
month
07       13141

In [18]:
#머니투데이 - 008
money = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=008&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            money.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            money.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in money:
    if i[1] == '':
        money.remove(i)
    elif i[1] == '동영상기사':
        money.remove(i)

In [19]:
#데이터프레임으로 정리
money_df = pd.DataFrame(money, columns = ['month', 'article'])

#월별 분류
money_df.groupby('month').count()

       article
month
07       11939

In [20]:
#한국경제 - 015
hankyung = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=015&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            hankyung.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            hankyung.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in hankyung:
    if i[1] == '':
        hankyung.remove(i)
    elif i[1] == '동영상기사':
        hankyung.remove(i)

In [21]:
#데이터프레임으로 정리
hankyung_df = pd.DataFrame(hankyung, columns = ['month', 'article'])

#월별 분류
hankyung_df.groupby('month').count()

       article
month
07       12034

In [22]:
#헤럴드경제 - 016
herald = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=016&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            herald.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            herald.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in herald:
    if i[1] == '':
        herald.remove(i)
    elif i[1] == '동영상기사':
        herald.remove(i)

In [23]:
#데이터프레임으로 정리
herald_df = pd.DataFrame(herald, columns = ['month', 'article'])

#월별 분류
herald_df.groupby('month').count()

       article
month
07       12499

In [25]:
#서울경제 - 011
sedaily = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=011&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            sedaily.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            sedaily.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in sedaily:
    if i[1] == '':
        sedaily.remove(i)
    elif i[1] == '동영상기사':
        sedaily.remove(i)

In [26]:
#데이터프레임으로 정리
sedaily_df = pd.DataFrame(sedaily, columns = ['month', 'article'])

#월별 분류
sedaily_df.groupby('month').count()

       article
month
07       10927

In [27]:
#노컷뉴스 - 079
nocut = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=079&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            nocut.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            nocut.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in nocut:
    if i[1] == '':
        nocut.remove(i)
    elif i[1] == '동영상기사':
        nocut.remove(i)

In [28]:
#데이터프레임으로 정리
nocut_df = pd.DataFrame(nocut, columns = ['month', 'article'])

#월별 분류
nocut_df.groupby('month').count()

       article
month
07       10673

In [29]:
#조선비즈 - 366
chosun_biz = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=366&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            chosun_biz.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            chosun_biz.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in chosun_biz:
    if i[1] == '':
        chosun_biz.remove(i)
    elif i[1] == '동영상기사':
        chosun_biz.remove(i)

In [30]:
#데이터프레임으로 정리
chosun_biz_df = pd.DataFrame(chosun_biz, columns = ['month', 'article'])

#월별 분류
chosun_biz_df.groupby('month').count()

       article
month
07        6525

In [31]:
#머니S - 417
money_s = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=417&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            money_s.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            money_s.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in money_s:
    if i[1] == '':
        money_s.remove(i)
    elif i[1] == '동영상기사':
        money_s.remove(i)

In [32]:
#데이터프레임으로 정리
money_s_df = pd.DataFrame(money_s, columns = ['month', 'article'])

#월별 분류
money_s_df.groupby('month').count()

       article
month
07       10074

In [33]:
#세계일보 - 022
segye = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=022&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            segye.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            segye.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in segye:
    if i[1] == '':
        segye.remove(i)
    elif i[1] == '동영상기사':
        segye.remove(i)

In [34]:
#데이터프레임으로 정리
segye_df = pd.DataFrame(segye, columns = ['month', 'article'])

#월별 분류
segye_df.groupby('month').count()

       article
month
07       10070

In [35]:
#데일리안 - 119
dailyan = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=119&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            dailyan.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            dailyan.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in dailyan:
    if i[1] == '':
        dailyan.remove(i)
    elif i[1] == '동영상기사':
        dailyan.remove(i)

In [36]:
#데이터프레임으로 정리
dailyan_df = pd.DataFrame(dailyan, columns = ['month', 'article'])

#월별 분류
dailyan_df.groupby('month').count()

       article
month
07        8842

In [37]:
#국민일보 - 005
kmib = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=005&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            kmib.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            kmib.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in kmib:
    if i[1] == '':
        kmib.remove(i)
    elif i[1] == '동영상기사':
        kmib.remove(i)

In [38]:
#데이터프레임으로 정리
kmib_df = pd.DataFrame(kmib, columns = ['month', 'article'])

#월별 분류
kmib_df.groupby('month').count()

       article
month
07        6552

In [39]:
#서울신문 - 081
seoul = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=081&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            seoul.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            seoul.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in seoul:
    if i[1] == '':
        seoul.remove(i)
    elif i[1] == '동영상기사':
        seoul.remove(i)

In [40]:
#데이터프레임으로 정리
seoul_df = pd.DataFrame(seoul, columns = ['month', 'article'])

#월별 분류
seoul_df.groupby('month').count()

       article
month
07        7316

In [41]:
#한국일보 - 469
hankook = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=469&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            hankook.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            hankook.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in hankook:
    if i[1] == '':
        hankook.remove(i)
    elif i[1] == '동영상기사':
        hankook.remove(i)

In [42]:
#데이터프레임으로 정리
hankook_df = pd.DataFrame(hankook, columns = ['month', 'article'])

#월별 분류
hankook_df.groupby('month').count()

       article
month
07        5380

In [43]:
#부산일보 - 082
busan = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=082&date={day}'
    for i in range(1, page(url + '&page=91') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        search_headline = soup.select('ul.type06_headline > li > dl > dt > a')
        search_head = soup.select('ul.type06 > li > dl > dt > a')
    
      
        for dl in search_headline:
            busan.append([str(month), dl.text.strip()])
            #print([str(month), dl.text.strip()])

        for dt in search_head:
            busan.append([str(month), dt.text.strip()])
            #print([str(month), dt.text.strip()])

for i in busan:
    if i[1] == '':
        busan.remove(i)
    elif i[1] == '동영상기사':
        busan.remove(i)

In [44]:
#데이터프레임으로 정리
busan_df = pd.DataFrame(busan, columns = ['month', 'article'])

#월별 분류
busan_df.groupby('month').count()

       article
month
07        4613